<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static "fontawesome.css" %}">
<link rel="stylesheet" href="{% static "style.css" %}">
<div class="topnav" id="myTopnav">
    <a href="/../">Home</a>
    <a href="/week">Woche</a>
    <a href="/month">Monat</a>
    <a href="/year">Jahr</a>
    <a class="active" href="">Bereich</a>
    <a href="javascript:void(0);" class="icon" onclick="topnavResponsive()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<h1>Benutzerdefinierter Bereich</h1>
<form>
    <label>
        <select onchange="change_date_type()" id="id_change_date_type">
            <option value="fix">Fixes Start/Enddatum</option>
            <option value="relative">Relatives Start/Enddatum</option>
        </select>
    </label>
    <table id="id_start_end_fix" style="background-color:#cccccc; display: table;">
        <tr>
            <td>
                Startdatum:
            </td>
            <td>
                <label for="id_start_date"></label>
                <input type="datetime-local" name="start_date" value="{{ start_date }}" required="" id="id_start_date">
            </td>
        </tr>
        <tr>
            <td>
                Enddatum:
            </td>
            <td>
                <label for="id_end_date"></label>
                <input type="datetime-local" name="end_date" value="{{ end_date }}" required="" id="id_end_date">
            </td>
        </tr>
    </table>
    <table id="id_start_end_relative" style="background-color:#cccccc; display: none">
        <tr>
            <td></td>
            <td>Jahre</td>
            <td>Tage</td>
            <td>Stunden</td>
        </tr>
        <tr>
            <td>
                Startdatum:
            </td>
            <td>
                <label for="id_start_years"></label>
                <input id="id_start_years" type="number" min="0" max="100" value="0">
            </td>
            <td>
                <label for="id_start_days"></label>
                <input id="id_start_days" type="number" min="0" max="365" value="0">
            </td>
            <td>
                <label for="id_start_hours"></label>
                <input id="id_start_hours" type="number" min="0" max="23" value="0">
            </td>
        </tr>
        <tr>
            <td>
                Enddatum:
            </td>
            <td>
                <label for="id_end_years"></label>
                <input id="id_end_years" type="number" min="0" max="100" value="0">
            </td>
            <td>
                <label for="id_end_days"></label>
                <input id="id_end_days" type="number" min="0" max="365" value="1">
            </td>
            <td>
                <label for="id_end_hours"></label>
                <input id="id_end_hours" type="number" min="0" max="23" value="0">
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td>
                <label>
                    <input type="checkbox" id="id_check_title" onclick="update_disabling()">
                </label>
            </td>
            <td>
                Anderer Titel
            </td>
            <td colspan="3">
                <label for="id_input_title"></label>
                <input id="id_input_title" onchange="update_link()" onkeyup="update_link()">
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="checkbox" id="id_check_aspect" onclick="update_disabling()">
                </label>
            </td>
            <td>
                Anderes Seitenverhältnis
            </td>
            <td>
                <label for="id_input_aspect_w"></label>
                <input type="number" min="1" max="1000" value="16" id="id_input_aspect_w" onchange="update_link()"
                       onkeyup="update_link()">
            </td>
            <td>
                :
            </td>
            <td>
                <label for="id_input_aspect_h"></label>
                <input type="number" min="1" max="1000" value="9" id="id_input_aspect_h" onchange="update_link()"
                       onkeyup="update_link()">
            </td>
        </tr>

    </table>
    <br>
    <table id="id_sensor_table">
        <caption style="background-color: #cccccc">
            <p>Sensoren:</p>
        </caption>
        <tbody id="id_sensor_table_body">
        <tr style="background-color: #cccccc; border-top-color: #000; border-top: 5px;">
            <td></td>
            <td>Sensor</td>
            <td>Y-Achse</td>
            <td>Zusammenführungs-Intervall</td>
            <td>Farbe</td>
        </tr>
        </tbody>
    </table>
    <button type="button" id="id_add_sensor_button" onclick="add_sensor()">Hinzufügen</button>
</form>
<p>Link zum Graph:</p>
<a id="id_result_link"></a>
<script>
    //TODO django shouldn't escape " to &quot;
    let available_sensors_short_name = {{ short_names }};//["sens_a", "sens_b", "sens_c"];
    let available_sensors_long_name = {{ long_names }};//["sensor a", "sensor b", "sensor c"];

    function add_sensor() {
        let st = document.getElementById("id_sensor_table_body");
        let row = st.insertRow(-1);

        let cell_1 = row.insertCell(-1);
        let checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        cell_1.appendChild(checkbox);

        let cell_2 = row.insertCell(-1);
        let combobox = document.createElement("select");
        for (let i in available_sensors_short_name) {
            let opt = document.createElement("option");
            opt.value = available_sensors_short_name[i];
            opt.innerHTML = available_sensors_long_name[i];
            combobox.appendChild(opt);
        }
        cell_2.appendChild(combobox);
    }

    function change_date_type() {
        let t_fix = document.getElementById("id_start_end_fix");
        let t_rel = document.getElementById("id_start_end_relative");
        let di_fix = t_fix.style.display;
        let di_rel = t_rel.style.display;
        [di_fix, di_rel] = [di_rel, di_fix];
        t_fix.style.display = di_fix;
        t_rel.style.display = di_rel;
        update_link();
    }

    function update_link() {
        let date_type_sel = document.getElementById("id_change_date_type");
        let start, end;
        if (date_type_sel.selectedIndex === 0) {
            start = document.getElementById("id_start_date").value;
            end = document.getElementById("id_end_date").value;
        } else {
            start = document.getElementById("id_start_hours").valueAsNumber * 3600; // 3600 seconds = 1 hour
            start += document.getElementById("id_start_days").valueAsNumber * 3600 * 24;
            start += document.getElementById("id_start_years").valueAsNumber * 3600 * 24 * 365;
            start = "now-" + start;
            end = document.getElementById("id_end_hours").valueAsNumber * 3600;
            end += document.getElementById("id_end_days").valueAsNumber * 3600 * 24;
            end += document.getElementById("id_end_years").valueAsNumber * 3600 * 24 * 365;
            end = "now-" + end
        }

        let link = "/generate_plot";
        link += "?start=" + start;
        link += "&end=" + end;

        //todo: insert sensoroptions in link here

        let inp_title = document.getElementById("id_input_title");
        if (!inp_title.disabled) {
            link += "&title=" + inp_title.value
        }

        let input_aspect_w = document.getElementById("id_input_aspect_w");
        if (!input_aspect_w.disabled) {
            let input_aspect_h = document.getElementById("id_input_aspect_h");
            link += "&aspect_ratio=" + input_aspect_w.value + ":" + input_aspect_h.value;
        }

        let a = document.getElementById("id_result_link");
        a.href = link;
        a.innerText = a.href; // reading from 'a.href' because that's a absolute link now, 'link' is only relative
    }

    function update_disabling() {
        let check_title = document.getElementById("id_check_title");
        let input_title = document.getElementById("id_input_title");
        input_title.disabled = !check_title.checked;
        let check_aspect = document.getElementById("id_check_aspect");

        let input_aspect_w = document.getElementById("id_input_aspect_w");
        let input_aspect_h = document.getElementById("id_input_aspect_h");
        input_aspect_w.disabled = !check_aspect.checked;
        input_aspect_h.disabled = !check_aspect.checked;
        update_link();
    }

    update_disabling();
    update_link();
</script>
</body>
</html>