<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static "fontawesome.css" %}">
<link rel="stylesheet" href="{% static "style.css" %}">
<div class="topnav" id="myTopnav">
    <a href="/../">Home</a>
    <a href="/week">Woche</a>
    <a href="/month">Monat</a>
    <a href="/year">Jahr</a>
    <a class="active" href="">Bereich</a>
    <a href="javascript:void(0);" class="icon" onclick="topnavResponsive()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<h1>Von {{ start }} bis {{ end }}</h1>
<img src="{% static plotfile %}" alt="plot" width="100%" id="graph">
<a href="custom.html">Neuen Graph generieren</a>
<button onclick="make_zoomable()" id="zoomable_button">Graph zoombar machen</button>
<script>
    function topnavResponsive() {
        let x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }

    function make_zoomable() {
        let x = document.getElementById("graph");
        let y = document.getElementById("zoomable_button");
        if (y.innerText === "Graph zoombar machen") {
            x.style.width = "auto";
            y.innerText = "Graphbreite anpassen";
        } else {
            x.style.width = "100%";
            y.innerText = "Graph zoombar machen";
        }
    }
</script>
</body>
</html>