<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static "css/fontawesome.css" %}">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<div class="topnav" id="myTopnav">
    <a href="/../">Home</a>
    <a href="/week">Woche</a>
    <a href="/month">Monat</a>
    <a href="/year">Jahr</a>
    <a class="active" href="">Bereich</a>
    <a href="javascript:void(0);" class="icon" onclick="topnavResponsive()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<h1>Benutzerdefinierter Bereich</h1>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Graph zeichnen">
</form>

<div class="popup" onclick="showhelp()">Click me!
    <span class="popuptext" id="helpPopup" style="word-wrap:break-word;">
      Achsennummer und Achse angeben.<br>
      z.B. 2a = zweitoberstes Diagramm linke Y-Achse<br>
      z.B. 1b = oberstes Diagramm rechte Y-Achse<br>
      # hinzufügen, um den Sensor mit Tagesminimum, -mittel und -maximum anzeigen<br>
      @ hinzufügen, um Säulen anstatt einer Linie zu verwenden<br>
      Wird nichts oder etwas falsches angegeben, ist dieser Sensor nicht im Graph enthalten<br>
  </span>
</div>
<script>
    function showhelp() {
        let popup = document.getElementById("helpPopup");
        popup.classList.toggle("show");
    }
</script>
</body>
</html>