<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static "fontawesome.css" %}">
<link rel="stylesheet" href="{% static "style.css" %}">
<div class="topnav" id="myTopnav">
    <a href="/../">Home</a>
    <a href="/week">Woche</a>
    <a class="active" href="">Monat</a>
    <a href="/year">Jahr</a>
    <a href="javascript:void(0);" class="icon" onclick="topnavResponsive()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<h1>Letzte 28 Tage</h1>
<img src="{% static plotfile %}" alt="plot">
<script>
    function topnavResponsive() {
        let x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
</body>
</html>