{% extends 'wetstat/base_page.html' %}
{% block title %}Benutzerdefinierter Graph{% endblock %}
{% block content %}
    <div id="id_messagebox">
        <h3>Bitte warten sie, während der Graph generiert wird.</h3>
        <div class="progress">
            <div id="pbar" class="progress-bar progress-bar-striped" role="progressbar"
                 style="width: 0; text-align: left;"
                 aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100">0%
            </div>
        </div>
        <span id="id_message_span"></span>
    </div>
    <main id="id_main_no_padding">
    </main>
    <script>
        let req;
        {% load static %}
        let plotfile = "{% static plotfile %}";
        let image_loaded = false;
        let pps, ppx, ppx_last;
        let intervalID = window.setInterval(function () {
            let pbar = document.getElementById("pbar");
            ppx += (pps / 10);
            let ppx_display = Math.round(ppx * 10) / 10;
            let new_proz = ppx_display + "%";
            pbar.setAttribute("aria-valuenow", ppx_display);
            pbar.style.width = new_proz;
            pbar.innerText = new_proz;
        }, 100);

        function show_image() {
            let msg = document.getElementById("id_messagebox");
            msg.style.display = "none";
            let main = document.getElementById("id_main_no_padding");
            let graph = document.createElement("img");
            let legend = document.createElement("img");
            graph.src = plotfile;
            legend.src = plotfile + "_legend.png";
            graph.id = "graph";
            graph.alt = "Graph";
            legend.alt = "Legende";
            main.appendChild(graph);
            main.appendChild(legend);
            main.onresize = set_img_width;
            image_loaded = true;
            window.clearInterval(intervalID);
        }

        function set_img_width() {
            if (!image_loaded) {
                return;
            }
            let img = document.getElementById("graph");
            img.width = (window.innerWidth - 20);
            //TODO: make zoomable
            window.onresize = set_img_width;
        }

        function get_progress() {
            req = new XMLHttpRequest();
            req.open("GET", "/progress?id={{ plot_id }}", false);
            req.send();
            let span = document.getElementById("id_message_span");
            let all_msgs = req.response;
            let msg_lines = all_msgs.split("\n");
            if (msg_lines.length > 1) {
                pps = msg_lines[0].match(/\d+/g).map(Number)[0] / 100;
                let ppx_maybe = msg_lines[1].match(/\d+/g).map(Number)[0];
                if (ppx_maybe !== ppx_last) {
                    ppx_last = ppx_maybe;
                    ppx = ppx_maybe;
                }
            }

            msg_lines.splice(0, 2);
            span.innerText = msg_lines.join("\n"); // rest
            if (req.response.endsWith("%%finished%%")) {
                show_image();
            } else {
                setTimeout(get_progress, 200);
            }
        }

        $(document).ready(get_progress);
        set_img_width();
    </script>
{% endblock %}