bokeh
colorzero
coverage
cycler
Django
file-read-backwards
gpiozero
Jinja2
kiwisolver
MarkupSafe
matplotlib
mysql-connector-python
numpy
packaging
Pillow
psutil
pyparsing
python-dateutil
pytz
PyYAML
RPi.bme280
schedule
scipy
six
smbus2
tornado
