/*----------------------------------Sensors on index.html-------------------------------*/
div.sensor {
    display: inline-block;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.sensorname {
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

.sensorvalue {
    font-size: 40px;
    padding-right: 5px;
}

.trendimg {
    display: inline-block;
    vertical-align: text-bottom;
}

p.before {
    margin: 5px;
    font-size: 16px;
}

#id_main_no_padding {
    margin: 0;
    padding: 0;
}

/*------------------------------------Form for custom plot:--------------------------------*/
input[type="number"] {
    width: 100px;
    float: left;
}

input#id_input_title, #id_start_date, #id_end_date {
    width: 100%;
}

#id_customplot_form {
    margin-bottom: 20px;
}

#id_sensor_table {
    width: 100%;
    margin-bottom: 10px;
}

/*for debug:*/
#id_options_table > tbody > tr > td {

}

.formlabel {
    width: 250px;
    padding: 5px;
    margin: 0;
}

form {
    width: border-box;
    width: -moz-fit-content;
    width: fit-content;
}

.separator-row {
    height: 10px;
}

main {
    padding: 20pt;
}

table#id_sensor_table tr:nth-child(even) {
    background-color: #cccccc;
}

#id_label_auto_update_link {
    display: block;
    margin: 0;
}

/*---------------------------------------Popup-----------------------------------------------*/

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 480px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    /*bottom: 125%;
    left: 50%;
    margin-left: -80px;*/
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    rotation: 180deg;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}